

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;   
}

.font-weight-bold{
    font-size: 14px;
}
.Have-account{
    font-size: 11px;
}
.other-page-link{
    text-decoration: none;
    color: black;
}

.other-page-link:hover{
    text-decoration: none;
    color:  #6B5B95;;
}
